@charset "UTF-8";
/*
  Project: TechHelp
  Author: 
*/
/* Fonts
  ========================================================================== */
/* Font sizes
  ========================================================================== */
/* Breakpoints
  ========================================================================== */
/* Colors
  ========================================================================== */
.entry-content ul li:after, .c-nav__btn:before, .page-blog .pagination .prev:after,
.page-blog .pagination .next:after, .page-contact .c-about .vcard .icon, .page-home .c-why-us .items .icon {
  position: absolute;
  top: 0;
  left: 0;
  content: '';
}

.c-link:after, .c-breadcrumbs li:after {
  position: absolute;
  top: 0;
  right: 0;
  content: '';
}

.c-intro:after, .page-about .c-service .c-pointer:after,
.page-about .c-about .c-pointer:after,
.page-service .c-service .c-pointer:after,
.page-service .c-about .c-pointer:after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: '';
  background: transparent url("../img/common/sprite_common.png") 0 0 no-repeat;
}

@media screen and (min-width: 1140px) {
  .page-home .c-testimonials .c-cta .info:after {
    position: absolute;
    top: 0;
    right: 0;
    content: '';
    background: transparent url("../img/common/sprite_common.png") 0 0 no-repeat;
  }
}

/* ==========================================================================
  #RESET
  ========================================================================== */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* iOS orientation bug fix */
html, body {
  -webkit-text-size-adjust: 100%;
}

html {
  height: 100%;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

img,
embed,
object,
video {
  max-width: 100%;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

ol li {
  margin-bottom: 0.22222em;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a[href], label[for], select,
input[type=checkbox], input[type=radio] {
  cursor: pointer;
}

button, input[type=button], input[type=image],
input[type=reset], input[type=submit] {
  padding: 0;
  overflow: visible;
  cursor: pointer;
}

button::-moz-focus-inner,
input[type=button]::-moz-focus-inner,
input[type=image]::-moz-focus-inner,
input[type=reset]::-moz-focus-inner,
input[type=submit]::-moz-focus-inner {
  border: 0;
}

/* WordPress Default Styling
========================================================================== */

.alignnone {
  margin: 0.625rem 0.9375rem 0.9375rem 0;
}

.aligncenter {
  display: block;
  margin: 0.625rem auto;
}

.alignright {
  float: right;
  margin: 0.625rem 0 0.9375rem 0.9375rem;
}

.alignleft {
  float: left;
  margin: 0.625rem 0.9375rem 0.9375rem 0;
}

a .alignright {
  float: right;
  margin: 0.625rem 0 0.9375rem 0.9375rem;
}

a .alignleft {
  float: left;
  margin: 0.625rem 0.9375rem 0.9375rem 0;
}

a .aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.wp-caption {
  padding: 0.625rem 3px 0 3px;
  max-width: 96%;
  /* Image does not overflow the content area */
  text-align: center;
  background: #fff;
  border: 1px solid #f0f0f0;
}

.wp-caption.aligncenter {
  margin: 0.625rem auto 0.9375rem auto;
}

.wp-caption.alignnone {
  margin: 0.625rem auto 0.9375rem auto;
}

.wp-caption.alignleft {
  margin: 0.625rem 0.9375rem 0.9375rem 0;
}

.wp-caption.alignright {
  margin: 0.625rem 0 0.9375rem 0.9375rem;
}

.wp-caption img {
  width: auto;
  height: auto;
  max-width: 98.5%;
  margin: 0;
  padding: 0;
  border: 0 none;
}

.wp-caption .wp-caption-text {
  margin: 0;
  padding: 0 4px 0.625rem;
  font-size: 11px;
  line-height: 17px;
}

/* Posts and Pages */
.sticky {
  display: block;
}

.hentry {
  margin: 0 0 1.5em;
}

.byline,
.updated:not(.published) {
  display: none;
}

.single .byline,
.group-blog .byline {
  display: inline;
}

.page-content,
.entry-summary {
  margin: 1.5em 0 0;
}

.page-links {
  clear: both;
  margin: 0 0 1.5em;
}

/* Asides */
.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
  display: none;
}

/* Comments */
.comment-content a {
  word-wrap: break-word;
}

.bypostauthor {
  display: block;
}

/* Galleries */
.gallery {
  margin-bottom: 1.5em;
}

.gallery-item {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  width: 100%;
}

.gallery-columns-2 .gallery-item {
  max-width: 50%;
}

.gallery-columns-3 .gallery-item {
  max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
  max-width: 25%;
}

.gallery-columns-5 .gallery-item {
  max-width: 20%;
}

.gallery-columns-6 .gallery-item {
  max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
  max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
  max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
  max-width: 11.11%;
}

.gallery-caption {
  display: block;
}


/* ==========================================================================
  #FONTS
  ========================================================================== */
@font-face {
  font-family: 'MontserratThin';
  src: url("../assets/fonts/montserrat/montserrat-thin-webfont.woff2") format("woff2"), url("../assets/fonts/montserrat/montserrat-thin-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MontserratThinIt';
  src: url("../assets/fonts/montserrat/montserrat-thinitalic-webfont.woff2") format("woff2"), url("../assets/fonts/montserrat/montserrat-thinitalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MontserratLight';
  src: url("../assets/fonts/montserrat/montserrat-light-webfont.woff2") format("woff2"), url("../assets/fonts/montserrat/montserrat-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MontserratLightIt';
  src: url("../assets/fonts/montserrat/montserrat-lightitalic-webfont.woff2") format("woff2"), url("../assets/fonts/montserrat/montserrat-lightitalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MontserratRegular';
  src: url("../assets/fonts/montserrat/montserrat-regular-webfont.woff2") format("woff2"), url("../assets/fonts/montserrat/montserrat-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MontserratRegularIt';
  src: url("../assets/fonts/montserrat/montserrat-italic-webfont.woff2") format("woff2"), url("../assets/fonts/montserrat/montserrat-italic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MontserratSemiBold';
  src: url("../assets/fonts/montserrat/montserrat-semibold-webfont.woff2") format("woff2"), url("../assets/fonts/montserrat/montserrat-semibold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MontserratBold';
  src: url("../assets/fonts/montserrat/montserrat-bold-webfont.woff2") format("woff2"), url("../assets/fonts/montserrat/montserrat-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MerriweatherLightIt';
  src: url("../assets/fonts/merriweather/merriweather-lightitalic-webfont.woff2") format("woff2"), url("../assets/fonts/merriweather/merriweather-lightitalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Fontello';
  src: url("../assets/fonts/fontello/fontello.eot?80763554");
  src: url("../assets/fonts/fontello/fontello.eot?80763554#iefix") format("embedded-opentype"), url("../assets/fonts/fontello/fontello.woff2?80763554") format("woff2"), url("../assets/fonts/fontello/fontello.woff?80763554") format("woff"), url("../assets/fonts/fontello/fontello.ttf?80763554") format("truetype"), url("../assets/fonts/fontello/fontello.svg?80763554#fontello") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^='icon-']:before,
[class*=' icon-']:before {
  font-family: 'Fontello';
  position: relative;
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: 0.2em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-menu:before {
  content: '\e001';
}

/* '' */
.icon-down:before {
  content: '\e002';
}

/* '' */
.icon-up:before {
  content: '\e003';
}

/* '' */
.icon-left:before {
  content: '\e804';
}

/* '' */
.icon-right:before {
  content: '\e805';
}

/* '' */
.icon-gplus:before {
  content: '\e806';
}

/* '' */
.icon-ln:before {
  content: '\e807';
}

/* '' */
.icon-fb:before {
  content: '\e808';
}

/* '' */
.icon-tw:before {
  content: '\e809';
}

/* '' */
.icon-insta:before {
  content: '\e810';
}

/* '' */
.icon-pin:before {
  content: '\e811';
}

/* '' */
/* ==========================================================================
  #PAGE
  ========================================================================== */
/**
* Simple page-level setup.
*
* 1. Set the default `font-size` and `line-height` for the entire project.
* 2. Force scrollbars to always be visible to prevent awkward ‘jumps’ when
*    navigating between pages that do/do not have enough content to produce
*    scrollbars naturally.
* 3. Ensure the page always fills at least the entire height of the viewport.
*/
html {
  font-size: 16px;
}

body {
  font-size: 112.5%;
  line-height: 1.66667em;
  font-family: "MontserratLight", "Helvetica", "Arial", sans-serif;
  background: #fff;
  color: #4c4e50;
}

/* ==========================================================================
  #HEADINGS
  ========================================================================== */
h1 {
  font-size: 2.25rem;
}

h2 {
  font-size: 1.75rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.25rem;
}

h5 {
  font-size: 1.125rem;
}

h6 {
  font-size: 1rem;
}

/* ==========================================================================
  #HR
  ========================================================================== */
hr {
  display: block;
}

/**
* Shared declarations for certain elements.
*/
h1, h2, h3, h4, h5, h6 {
  color: #4c4e50;
}

.entry-content p {
  margin-bottom: 1.125rem;
}

.entry-content ul {
  margin-bottom: 1.6875rem;
}

.entry-content ul li {
  position: relative;
  margin-bottom: 0.5625rem;
  padding-left: 24px;
}

.entry-content ul li:after {
  top: 11px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #d9609f;
}

.entry-content a {
  text-decoration: none;
}

/**
* Consistent indentation for lists.
*/
em, it {
  font-family: "MontserratLightIt", "Helvetica", "Arial", sans-serif;
}

strong {
  font-family: "MontserratRegular", "Helvetica", "Arial", sans-serif;
}

/* ==========================================================================
  #LISTS
  ========================================================================== */
li > ul,
li > ol {
  margin-bottom: 0;
  margin-left: 1rem;
  margin-top: 0.5rem;
}

dt {
  font-weight: bold;
}

dd {
  margin-bottom: 1rem;
  margin-left: 1rem;
}

/* ==========================================================================
  #IMAGES
  ========================================================================== */
/**
* 1. Fluid images for responsive purposes.
* 2. Offset `alt` text from surrounding copy.
* 3. Setting `vertical-align` removes the whitespace that appears under `img`
*    elements when they are dropped into a page as-is. Safer alternative to
*    using `display: block;`.
*/
img {
  font-style: italic;
  /* [2] */
  max-width: 100%;
  /* [1] */
  vertical-align: middle;
  /* [3] */
}

/**
* 1. If a `width` and/or `height` attribute have been explicitly defined, let’s
*    not make the image fluid.
*/
img[width],
img[height] {
  /* [1] */
  max-width: none;
}

/* ==========================================================================
  #LINKS
  ========================================================================== */
a {
  color: #2893ce;
  text-decoration: underline;
  transition: all 200ms ease;
}

a:hover {
  color: #215c7c;
}

/* ==========================================================================
  #PLACEHOLDERS
  ========================================================================== */
::-webkit-input-placeholder {
  color: #8D9196;
}

:-moz-placeholder {
  color: #8D9196;
  opacity: 1;
}

::-moz-placeholder {
  color: #8D9196;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #8D9196;
}

/* ==========================================================================
  #BLOCKQUOTES
  ========================================================================== */
blockquote {
  quotes: '“' '”' '‘' '’';
  font-style: italic;
}

blockquote p:first-child:before {
  content: open-quote;
}

blockquote p:last-child:after {
  content: close-quote;
}

/* ==========================================================================
  #TABLES
  ========================================================================== */
/**
* 1. Ensure tables fill up as much space as possible.
*/
table {
  width: 100%;
  /* [1] */
}

.c-link {
  position: relative;
  font-family: "MontserratSemiBold", "Helvetica", "Arial", sans-serif;
  text-decoration: none;
  cursor: pointer;
  color: #2893ce;
}

.c-link:after {
  top: -0.1875rem;
  right: -16px;
  font-family: 'Fontello';
  font-size: 1.4375rem;
  content: '\e805';
  color: #2893ce;
}

.c-link:hover, .c-link:hover:after {
  color: #215c7c;
}

/* ==========================================================================
  #Contact section
  ========================================================================== */
/* Contact - Mobile */
.c-get-in-touch {
  float: left;
  width: 100%;
  min-height: 23.3125rem;
  padding: 4.75rem 0 4.875rem;
  background: #eef3f5;
}

.c-get-in-touch .o-container {
  max-width: 945px;
}

.c-get-in-touch .o-halves__half {
  width: 100%;
  max-width: none;
  margin-bottom: 1.375rem;
}

.c-get-in-touch .o-halves__half:first-child {
  width: 100%;
}

.c-get-in-touch .heading {
  margin-bottom: 1.1875rem;
  font-family: "MontserratThin", "Helvetica", "Arial", sans-serif;
  font-size: 2.625rem;
  line-height: 1.33333em;
  color: #4c4e50;
}

/* Contact - Tablet */
@media screen and (min-width: 665px) {
  .c-get-in-touch .o-halves__half {
    margin-bottom: 2.375rem;
  }
  .c-get-in-touch .heading {
    margin-bottom: 1.375rem;
    font-size: 2.4375rem;
  }
}

/* Contact - Desktop */
@media screen and (min-width: 1140px) {
  .c-get-in-touch {
    padding: 3.9375rem 0 3.5625rem;
  }
  .c-get-in-touch .o-halves__half {
    width: 47%;
    max-width: none;
    margin-bottom: 0;
  }
  .c-get-in-touch .o-halves__half:first-child {
    width: 53%;
  }
  .c-get-in-touch .heading {
    margin-bottom: 2rem;
    font-size: 2.875rem;
  }
}

/* ==========================================================================
  #WRAPPER
  ========================================================================== */
/**
* Page-level constraining and wrapping elements.
*/
.o-container {
  position: relative;
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 4.16667%;
}

@media screen and (min-width: 768px) {
  .o-container {
    padding: 0 3.25521%;
  }
}

@media screen and (min-width: 1140px) {
  .o-container {
    padding: 0;
  }
}

.o-holder {
  float: left;
  width: 100%;
}

.o-holder--filled {
  background: #eee;
}

/* ==========================================================================
  #LIST-BARE
  ========================================================================== */
/**
* Strip list-like appearance from lists by removing their bullets, and any
* indentation.
*/
.o-list-bare {
  list-style: none;
  margin-left: 0;
}

/* ==========================================================================
  #LIST-INLINE
  ========================================================================== */
/**
* The list-inline object simply displays a list of items in one line.
*/
.o-list-inline {
  list-style: none;
  margin-left: 0;
}

.o-list-inline__item {
  display: inline-block;
}

/* ==========================================================================
  #MEDIA
  ========================================================================== */
/**
* Place any image- and text-like content side-by-side, as per:
* http://www.stubbornella.org/content/2010/06/25/the-media-object-saves-hundreds-of-lines-of-code
*/
.o-media {
  display: block;
}

.o-media:after {
  content: '' !important;
  display: block !important;
  clear: both !important;
}

.o-media__img {
  float: left;
  margin-right: 1rem;
}

.o-media__img > img {
  display: block;
}

.o-media__body {
  display: block;
  overflow: hidden;
}

.o-media__body,
.o-media__body > :last-child {
  margin-bottom: 0;
}

/* Reversed media objects
  ========================================================================== */
.o-media--reverse > .o-media__img {
  float: right;
  margin-left: 1rem;
  margin-right: 0;
}

/* Gutterless media objects
  ========================================================================== */
.o-media--flush > .o-media__img {
  margin-left: 0;
  margin-right: 0;
}

/* ==========================================================================
  #TABLE
  ========================================================================== */
/**
* A simple object for manipulating the structure of HTML `table`s.
*/
.o-table {
  width: 100%;
}

/* Equal-width table cells.
  ========================================================================== */
/**
* `table-layout: fixed` forces all cells within a table to occupy the same
* width as each other. This also has performance benefits: because the browser
* does not need to (re)calculate cell dimensions based on content it discovers,
* the table can be rendered very quickly. Further reading:
* https://developer.mozilla.org/en-US/docs/Web/CSS/table-layout#Values
*/
.o-table--fixed {
  table-layout: fixed;
}

/* ==========================================================================
  #LAYOUT
  ========================================================================== */
.o-halves {
  float: left;
  width: 100%;
}

.o-halves__half {
  float: left;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .o-halves__half {
    width: 47.9%;
  }
  .o-halves__half:nth-child(2n) {
    float: right;
  }
}

@media screen and (min-width: 1140px) {
  .o-halves__half {
    width: 48%;
  }
  .o-halves__half:nth-child(2n) {
    float: right;
  }
}

.o-thirds {
  float: left;
  width: 100%;
}

.o-thirds__third {
  float: left;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .o-thirds {
    float: none;
    display: table;
    margin: 0 auto;
    max-width: 800px;
  }
  .o-thirds__third {
    clear: left;
    width: 48%;
  }
  .o-thirds__third:nth-child(2n+2) {
    float: right;
    clear: none;
    margin-right: 0;
  }
}

@media screen and (min-width: 1140px) {
  .o-thirds {
    float: none;
    max-width: none;
  }
  .o-thirds__third {
    float: left;
    clear: none;
    margin-right: 5.87719%;
    width: 29.38596%;
    max-width: 335px;
  }
  .o-thirds__third:nth-child(2n+2) {
    float: left;
    margin-right: 5.87719%;
  }
  .o-thirds__third:nth-child(3n+3) {
    margin-right: 0;
  }
  .o-thirds__third:nth-child(3n+1) {
    clear: left;
  }
}


/* ==========================================================================
  #Blogs section
  ========================================================================== */
/* Blogs - mobile */
.c-blogs {
  float: left;
  width: 100%;
  padding: 3.9375rem 0 4.3125rem;
}

.c-blogs .o-holder {
  float: none;
  max-width: 335px;
  display: table;
  margin: 0 auto;
}

.c-blogs .o-thirds__third {
  margin-bottom: 2.4375rem;
}

.c-blogs .heading {
  display: table;
  margin: 0 auto 3.0625rem;
  font-family: "MontserratThin", "Helvetica", "Arial", sans-serif;
  font-size: 2.3125rem;
  line-height: 1.33333em;
}

.c-blogs img {
  margin-bottom: 1.4375rem;
  border-radius: 10px;
}

.c-blogs .subheading {
  margin-bottom: 0.75rem;
  padding: 0 4px;
  font-family: "MontserratSemiBold", "Helvetica", "Arial", sans-serif;
  font-size: 1.3125rem;
  line-height: 1.42857em;
}

.c-blogs .subheading a {
  text-decoration: none;
  color: #4c4e50;
}

.c-blogs .subheading a:hover {
  color: #215c7c;
}

.c-blogs .text {
  padding: 0 4px;
}

.c-blogs .text-short {
  overflow: hidden;
}

.c-blogs .text-full {
  display: none;
}

/* Blogs - Tablet */
@media screen and (min-width: 768px) {
  .c-blogs .o-holder {
    max-width: 700px;
  }
  .c-blogs .subheading {
    margin-bottom: 0.75rem;
  }
}

/* Blogs - Desktop */
@media screen and (min-width: 1140px) {
  .c-blogs {
    padding-bottom: 3.1875rem;
  }
  .c-blogs .o-holder {
    max-width: none;
  }
  .c-blogs .heading {
    font-size: 2.875rem;
  }
  .c-blogs img {
    margin-bottom: 1.1875rem;
  }
  .c-blogs .subheading {
    margin-bottom: 1.3125rem;
    padding: 0 4px;
  }
}

/* ==========================================================================
  #Breadcrumbs
  ========================================================================== */
/* Breadcrumbs - Mobile */

.c-breadcrumbs {
  float: left;
  width: 100%;
  margin-bottom: 1.375rem;
  padding: 1.875rem 0 1.6875rem;
}

.c-breadcrumbs nav {
  float: left;
  width: 100%;
}

.c-breadcrumbs ul {
  float: left;
  width: 100%;
}

.c-breadcrumbs li {
  position: relative;
  float: left;
  margin-right: 4px;
  font-size: 0.9375rem;
  line-height: 2em;
  color: #8D9196;
  padding-right: 12px;
}

.c-breadcrumbs li:after {
  content: '>';
}

.c-breadcrumbs li:last-child {
  top: 0.125rem;
  font-family: "MontserratRegular", "Helvetica", "Arial", sans-serif;
  letter-spacing: 0.5px;
  color: #2893ce;
}

.c-breadcrumbs li:last-child a {
  font-family: "MontserratRegular", "Helvetica", "Arial", sans-serif;
  pointer-events: none;
  color: #2893ce;
}

.c-breadcrumbs li:last-child:after {
  visibility: hidden;
}

.c-breadcrumbs a {
  text-decoration: none;
  color: #8D9196;
}

.c-breadcrumbs a:hover {
  color: #2893ce;
}

/* Breadcrumbs - Tablet */
@media screen and (min-width: 768px) {
  .c-breadcrumbs {
    margin-bottom: 0;
  }
}

/* ==========================================================================
  #BUTTONS
  ========================================================================== */
/**
  * Extend inuitcss by building components that make up the UI. 
  * Component classes are prefixed with a `c-`.
  */
.c-btn {
  padding: 0.75rem 42px 0.5625rem;
  border-radius: 30px;
  font-family: "MontserratLight", "Helvetica", "Arial", sans-serif;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
  transition: all 200ms ease;
  background-color: #2893ce;
  cursor: pointer;
}

.c-btn, .c-btn:hover, .c-btn:active, .c-btn:focus {
  text-decoration: none;
  color: #fff !important;
}

.c-btn:hover, .c-btn:focus {
  background-color: #215c7c;
}

/* Style variants
  ========================================================================== */
.c-btn--no-fill {
  padding: 0.6875rem 62px 0.375rem;
  border: 2px solid #2893ce;
  font-family: "MontserratRegular", "Helvetica", "Arial", sans-serif;
  letter-spacing: 0;
  text-transform: none;
  background: none;
  color: #2893ce !important;
}

.c-btn--no-fill:hover {
  background: #2893ce;
  color: #fff !important;
}

/* Size variants
  ========================================================================== */
.c-btn--small {
  padding: 0.8125rem 21px 0.75rem !important;
  font-size: 0.9375rem;
  line-height: 2em;
}

@media screen and (min-width: 1140px) {
  .c-btn--small {
    padding: 0.9375rem 25px 0.875rem !important;
    font-size: 0.9375rem;
    line-height: 2em;
  }
}

.c-btn--medium {
  padding: 1.25rem 30px 1.25rem;
  border-radius: 4px;
  font-size: 1.1875rem;
  line-height: 1.21053em;
}

@media screen and (min-width: 1140px) {
  .c-btn--medium {
    padding: 1.4375rem 31px 1.625rem;
    border-radius: 4px;
    font-size: 1.25rem;
    line-height: 1.2em;
  }
  .c-btn--medium.c-btn--long {
    padding: 1.4375rem 53px 1.625rem;
  }
}

.c-btn--large {
  padding: 1.25rem 56px 1.4375rem;
  font-size: 1.5625rem;
  line-height: 1.2em;
}

/* ==========================================================================
  #Contact form
  ========================================================================== */
/* Contact - Mobile */
.c-contact-form {
  float: none;
  width: 100%;
  max-width: 500px;
  display: table;
  margin: -20px auto 0;
}

.c-contact-form .validation_error {
  display: none;
}

.c-contact-form .validation_message {
  float: left;
  width: 100%;
  margin: -4px 0 4px 9px;
  font-size: 15px;
  color: red;    
}

.c-contact-form .gform_wrapper .top_label .gfield_label {
  display: none !important;
}

.c-contact-form input,
.c-contact-form textarea {
  float: left;
  width: 100% !important;
  border: none;
  margin-bottom: 0.4375rem !important;
  border: 1px solid #f3f6f7;
  border-radius: 38px;
  font-family: "MontserratLight", "Helvetica", "Arial", sans-serif;
  font-size: 0.9375rem !important;
  line-height: 2em;
  background: #e1e9ec;
  -webkit-appearance: none;
  outline: none;
}

.c-contact-form .gform_wrapper .top_label div.ginput_container {
  margin-top: 0;
}

.c-contact-form input {
  padding: 0.3125rem 28px 0.375rem !important;
}

.c-contact-form textarea {
  height: 4.4375rem !important;
  max-height: 21.875rem;
  margin: 1px 0 18px !important;
  padding: 0.3125rem 28px 0.375rem !important;
  resize: vertical;
}

.c-contact-form input[type='submit'] {
  float: left;
  width: auto !important;
  padding: 0.6875rem 47px 0.625rem !important;
  border: none;
  letter-spacing: 2px;
  background: #2893ce;
  text-decoration: none;
  transition: all 200ms ease;
  text-transform: uppercase;
  -webkit-appearance: none;
  color: #fff;
}

.c-contact-form input[type='submit']:hover {
  background: #215c7c;
}

.c-contact-form .gform_footer {
  float: left;
  margin-top: 94px;
}

.c-contact-form .ginput_recaptcha + .validation_message {
  margin: 86px 0 -68px 9px;
}

/* Contact - Tablet */
@media screen and (min-width: 665px) {
  .c-contact-form {
    max-width: 595px;
  }
}

/* Contact - Desktop */
@media screen and (min-width: 1140px) {
  .c-contact-form {
    float: right;
    width: 360px;
    margin: 0.3125rem 0 0;
  }
  .c-contact-form textarea {
    margin: 0.125rem 0 1.0625rem;
  }
}

/* ==========================================================================
   #FOOTER
   ========================================================================== */
/* Footer - Mobile */
.c-footer {
  float: left;
  width: 100%;
  padding: 2.125rem 0 2rem;
}

.c-footer .secondary-menu {
  float: left;
  width: 195px;
  margin-bottom: 1.9375rem;
}

.c-footer .secondary-menu li {
  float: left;
  width: 100%;
  margin-bottom: -0.25rem;
}

.c-footer .secondary-menu a {
  float: left;
  width: 100%;
  font-size: 0.9375rem;
  line-height: 2em;
  text-decoration: none;
  color: #8D9196;
}

.c-footer .secondary-menu a:hover {
  color: #2893ce;
}

.c-footer h6 {
  margin-bottom: 0.5rem;
  font-family: "MontserratRegular", "Helvetica", "Arial", sans-serif;
  font-size: 1.125rem;
  line-height: 1.66667em;
  color: #4c4e50;
}

.c-footer .c-logo {
  float: left;
  margin: 0.5625rem 0 1.9375rem;
}

.c-footer .c-social-btns {
  float: left !important;
  clear: left;
  margin: 0;
}

.c-footer .c-social-btns li {
  margin: 0 3px;
}

.c-footer .copyright {
  float: left;
  clear: both;
  margin: 0.875rem 0 0;
  font-size: 0.9375rem;
  line-height: 2em;
  color: #8D9196;
}

.c-footer .copyright p {
  margin-bottom: 0;
}

.c-footer .attribution {
  float: left;
  clear: left;
  font-family: "MontserratLight", "Helvetica", "Arial", sans-serif;
  font-size: 0.75rem;
  line-height: 1.875em;
  color: #8D9196;
}

.c-footer a {
  text-decoration: none;
}

/* Footer - Tablet */
@media screen and (min-width: 768px) {
  .c-footer {
    float: right;
  }
}

/* Footer - Desktop */
@media screen and (min-width: 1140px) {
  .c-footer {
    float: left;
    padding: 2.1875rem 0 3.0625rem;
  }
  .c-footer .secondary-menu {
    margin: 0;
  }
  .c-footer .c-logo {
    float: right;
    margin-top: 0.375rem;
  }
  .c-footer .c-social-btns {
    clear: none;
    margin: 0.25rem 0 0 19px;
  }
  .c-footer .copyright {
    float: right;
    margin-top: -1.375rem;
  }
  .c-footer .attribution {
    float: right;
    clear: right;
  }
}

/* ==========================================================================
   #HEADER
   ========================================================================== */
.c-header {
  float: left;
  width: 100%;
  min-height: 6.625rem;
  padding: 1.625rem 0 0;
}

.c-logo {
  z-index: 9999;
  position: relative;
  float: left;
  width: 177px;
  height: 61px;
  font-size: 0;
  line-height: 0;
}

.c-logo a {
  float: left;
  width: 100%;
  height: 100%;
}

/* Navigation */
.c-nav {
  z-index: 3;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.c-nav__btn {
  position: relative;
  top: -0.3125rem;
  right: 9px;
  float: right;
  width: 50px;
  height: 50px;
  text-align: center;
  cursor: pointer;
}

.c-nav__btn:before {
  top: 0.5625rem;
  left: 13px;
  font-family: 'Fontello';
  content: '\e001';
  font-size: 1.8125rem;
  transition: all 200ms ease;
  background: none;
  color: #2893ce;
}

.c-nav__btn:hover:before {
  color: #215c7c;
}

.c-nav__menu {
  float: left;
  width: 100%;
  background: #fff;
}

.c-nav__menu li {
  float: left;
  width: 100%;
}

.c-nav__menu li.current-menu-item > a {
  color: #2893ce;
}

.c-nav__menu a {
  float: left;
  width: 100%;
  font-family: "MontserratRegular", "Helvetica", "Arial", sans-serif;
  padding: 0.875rem 0 0.75rem 15px;
  border-bottom: 1px solid #ccc;
  font-size: 0.9375rem;
  line-height: 2em;
  letter-spacing: 0.3px;
  transition: all 200ms ease;
  text-decoration: none;
  text-transform: uppercase;
  background: #fff;
  color: #4c4e50;
}

.c-nav__menu a:hover {
  text-decoration: none;
  color: #2893ce;
}

.menu-item-has-children {
  position: relative;
}

.sub-menu {
  z-index: 1;
  float: left;
  width: 100%;
  margin: 0;
  overflow: hidden;
}

.sub-menu a {
  padding-left: 34px;
  font-size: 0.9375rem;
  text-transform: none !important;
}

.c-nav__open-menu-btn {
  position: absolute;
  top: 0;
  right: 0;
  width: 59px;
  height: 3.5625rem;
  text-align: center;
  background: #2893ce;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  color: #fff;
}

.c-nav__open-menu-btn:before {
  position: relative;
  top: 0.8125rem;
  font-family: 'Fontello';
  content: '\e002';
}

.c-nav__open-menu-btn.close:before {
  content: '\e003';
}

.c-utility-nav {
  float: left;
  width: 100%;
  padding: 0.75rem 3.125%;
}

.c-utility-nav .c-btn {
  float: left;
  width: auto;
  margin: 0.125rem 0 1.125rem;
  padding: 0.375rem 21px 0.3125rem !important;
  font-family: "MontserratLight", "Helvetica", "Arial", sans-serif;
  letter-spacing: 1px;
  background-color: #2893ce;
}

.c-utility-nav .c-btn, .c-utility-nav .c-btn:hover, .c-utility-nav .c-btn:active, .c-utility-nav .c-btn:focus {
  text-decoration: none;
  color: #fff;
}

.c-utility-nav .c-btn:hover, .c-utility-nav .c-btn:focus {
  background-color: #215c7c;
}

.c-social-btns {
  float: left !important;
  clear: none;
  margin-bottom: 0.5rem;
}

.c-social-btns li {
  float: left !important;
  width: auto;
  margin: 0 3px;
}

@media screen and (min-width: 1045px) {
  .c-nav {
    position: relative;
    top: 0;
    float: right;
    width: auto;
  }
  .c-nav__btn {
    display: none;
  }
  .c-nav__menu {
    display: block !important;
    width: auto;
    margin-top: 0.75rem;
    background: none;
  }
  .c-nav__menu ul {
    float: left;
  }
  .c-nav__menu .line {
    position: absolute;
    bottom: -1.3125rem;
    left: 0;
    width: 100px;
    height: 0.0625rem;
    background: #215c7c;
  }
  .c-nav__menu li {
    display: inline-block;
    float: none;
    width: auto;
    padding: 0;
  }
  .c-nav__menu li.current-menu-item > a {
    color: #2893ce;
  }
  .c-nav__menu a {
    position: relative;
    margin: 0;
    padding: 0.5rem 15px;
    border: none;
    text-transform: uppercase;
    background: none;
  }
  .c-nav__menu a:hover {
    background: none;
  }
  .menu-item-has-children {
    position: relative;
    overflow: hidden;
  }
  .menu-item-has-children:hover {
    overflow: visible;
  }
  .menu-item-has-children:hover .c-nav__open-menu-btn {
    display: none;
  }
  .menu-item-has-children:hover .sub-menu {
    opacity: 1;
  }
  .menu-item-has-children:after {
    position: absolute;
    left: 50%;
    bottom: -0.8125rem;
    margin-left: -6px;
    font-family: 'Fontello';
    content: '\e002';
    color: #ccc;
  }
  .c-nav__open-menu-btn {
    position: absolute;
    top: 1.9375rem;
    right: 50%;
    width: 0;
    height: 0;
    text-align: left;
    background: none;
    color: #ccc;
  }
  .c-nav__open-menu-btn:before {
    display: none;
  }
  .sub-menu {
    position: absolute;
    display: block !important;
    top: 2.875rem;
    left: -7px;
    width: 222px;
    opacity: 0;
  }
  .sub-menu li {
    float: left;
    width: 100%;
    padding: 0;
  }
  .sub-menu a {
    border-bottom: 1px solid #ccc;
    padding: 1.125rem 0 1.125rem 20px;
    font-size: 0.875rem;
    background: #fff;
  }
  .sub-menu a:hover {
    background: #fff;
    color: #2893ce;
  }
  /* Utility nav */
  .c-utility-nav {
    float: right;
    width: auto;
    margin: 0 0 0 7px;
    padding: 0;
  }
  .c-utility-nav .c-btn {
    float: left;
    width: auto;
    margin: 0.0625rem 0 0;
    padding: 0.375rem 21px 0.3125rem !important;
    font-family: "MontserratLight", "Helvetica", "Arial", sans-serif;
    letter-spacing: 1px;
    background-color: #2893ce;
  }
  .c-utility-nav .c-btn, .c-utility-nav .c-btn:hover, .c-utility-nav .c-btn:active, .c-utility-nav .c-btn:focus {
    text-decoration: none;
    color: #fff;
  }
  .c-utility-nav .c-btn:hover, .c-utility-nav .c-btn:focus {
    background-color: #215c7c;
  }
  .c-social-btns {
    float: right !important;
    clear: none;
    margin-left: 42px;
  }
  .c-social-btns li {
    float: none;
  }
  .c-social-btns li:last-child {
    margin-right: 0;
  }
}

/* ==========================================================================
  #Intro section
  ========================================================================== */
/* Intro - Mobile */
.c-intro {
  position: relative;
  float: left;
  width: 100%;
  min-height: 47.375rem;
  font-family: "MontserratThin", "Helvetica", "Arial", sans-serif;
  padding: 10.1875rem 0 8.625rem;
  background-size: cover;
  text-align: center;
  background: #333;
  color: #fff;
}

.c-intro:after {
  left: 50%;
  bottom: 1.9375rem;
  width: 58px;
  height: 36px;
  margin-left: -28px;
  background: transparent url("../assets/images/ui/ui_arrow_down.png") 0 0 no-repeat;
}

.c-intro .heading {
  float: left;
  width: 100%;
  margin-bottom: 1.9375rem;
  font-size: 2.9375rem;
  line-height: 1.38298em;
  color: #fff;
}

.c-intro .desc {
  display: table;
  margin: 0 auto;
  margin-bottom: 2.0625rem;
  max-width: 530px;
  font-size: 1.3125rem;
  line-height: 1.42857em;
}

.c-intro .c-btn {
  display: table;
  margin: 0 auto 0.75rem;
}

.c-intro .message {
  display: table;
  margin: 0 auto;
  font-family: "MontserratLight", "Helvetica", "Arial", sans-serif;
}

.c-intro .message a {
  text-decoration: none;
  color: #fff;
}

.c-intro .subtitle {
  position: absolute;
  left: 50%;
  bottom: 5.125rem;
  font-family: "MerriweatherLightIt", "Georgia", "Times", "Times New Roman", serif;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

/* Intro - Tablet */
@media screen and (min-width: 768px) {
  .c-intro {
    min-height: 43.625rem;
    padding: 10.1875rem 0 13.125rem;
  }
  .c-intro .heading {
    float: none;
    width: auto;
    margin: 0 auto 2.5rem;
    font-size: 3.1875rem;
    line-height: 1.31373em;
  }
  .c-intro .desc {
    max-width: 761px;
  }
  .c-intro .subtitle {
    bottom: 5.4375rem;
  }
}

/* Intro - Desktop */
@media screen and (min-width: 1140px) {
  .c-intro {
    padding: 15.6875rem 0 10.6875rem;
  }
  .c-intro .heading {
    float: left;
    width: 100%;
    margin-bottom: 1.9375rem;
    font-size: 2.875rem;
    line-height: 1.30435em;
  }
  .c-intro .subtitle {
    bottom: 4.125rem;
  }
}

/* ==========================================================================
  #About page
  ========================================================================== */
.page-about .c-intro,
.page-service .c-intro {
  min-height: 500px;
  padding: 12.125rem 0 10.6875rem;
}

.page-about .c-intro.phone,
.page-service .c-intro.phone {
  background: transparent url("../assets/images/ui/bg_phone_intro_m.png") center 100% no-repeat;
  background-size: cover;
}

.page-about .c-intro.computer,
.page-service .c-intro.computer {
  background: transparent url("../assets/images/ui/bg_computer_intro_m.png") center 100% no-repeat;
  background-size: cover;
}

.page-about .c-intro.tv,
.page-service .c-intro.tv {
  background: transparent url("../assets/images/ui/bg_tv_intro_m.png") center 100% no-repeat;
  background-size: cover;
}

.page-about .c-intro.wordpress,
.page-service .c-intro.wordpress {
  background: transparent url("../assets/images/ui/bg_wordpress_intro_m.png") center 100% no-repeat;
  background-size: cover;
}

.page-about .c-service,
.page-about .c-about,
.page-service .c-service,
.page-service .c-about {
  float: left;
  width: 100%;
  padding: 2.625rem 0 8.875rem;
}

.page-about .c-service .img,
.page-about .c-about .img,
.page-service .c-service .img,
.page-service .c-about .img {
  position: relative;
  display: table;
  margin: 0 auto;
  width: 280px;
  height: auto;
}

.page-about .c-service .info,
.page-about .c-about .info,
.page-service .c-service .info,
.page-service .c-about .info {
  float: none;
  max-width: 470px;
  display: table;
  margin: 0 auto;
}

.page-about .c-service .heading,
.page-about .c-about .heading,
.page-service .c-service .heading,
.page-service .c-about .heading {
  float: left;
  margin-bottom: 1.6875rem;
  font-size: 2.3125rem;
  line-height: 1.24324em;
  color: #4c4e50;
}

.page-about .c-service .desc,
.page-about .c-about .desc,
.page-service .c-service .desc,
.page-service .c-about .desc {
  float: left;
  clear: left;
  color: #8D9196;
}

.page-about .c-service .desc p,
.page-about .c-about .desc p,
.page-service .c-service .desc p,
.page-service .c-about .desc p {
  margin-bottom: 1.8125rem;
}

.page-about .c-service .cta-holder,
.page-about .c-about .cta-holder,
.page-service .c-service .cta-holder,
.page-service .c-about .cta-holder {
  display: table;
  margin: -0.75rem auto 0;
}

.page-about .c-service ul,
.page-about .c-about ul,
.page-service .c-service ul,
.page-service .c-about ul {
  margin-top: -0.75rem;
}

.page-about .c-service .c-btn,
.page-about .c-about .c-btn,
.page-service .c-service .c-btn,
.page-service .c-about .c-btn {
  float: left;
  clear: left;
  margin-top: 1.5rem;
}

.page-about .c-service .c-pointer,
.page-about .c-about .c-pointer,
.page-service .c-service .c-pointer,
.page-service .c-about .c-pointer {
  position: relative;
  float: left;
  margin: 2.1875rem 0 0 24px;
  font-family: "MerriweatherLightIt", "Georgia", "Times", "Times New Roman", serif;
  color: #8D9196;
}

.page-about .c-service .c-pointer:after,
.page-about .c-about .c-pointer:after,
.page-service .c-service .c-pointer:after,
.page-service .c-about .c-pointer:after {
  width: 171px;
  height: 159px;
  left: -159px;
  bottom: -167px;
  background: transparent url("../assets/images/ui/ui_arrow_flex.png") 0 0 no-repeat;
}

.page-service .c-service .img {
  margin-bottom: -1.75rem;
}

.page-about .c-about .img {
  margin-bottom: 2.875rem;
  border-radius: 6px;
}

@media screen and (min-width: 540px) {
  .page-about .c-intro.phone,
  .page-service .c-intro.phone {
    background-image: url("../assets/images/ui/bg_phone_intro_t.png");
    background-size: cover;
  }
  .page-about .c-intro.computer,
  .page-service .c-intro.computer {
    background-image: url("../assets/images/ui/bg_computer_intro_t.png");
    background-size: cover;
  }
  .page-about .c-intro.tv,
  .page-service .c-intro.tv {
    background-image: url("../assets/images/ui/bg_tv_intro_t.png");
    background-size: cover;
  }
  .page-about .c-intro.wordpress,
  .page-service .c-intro.wordpress {
    background-image: url("../assets/images/ui/bg_wordpress_intro_t.png");
    background-size: cover;
  }
}

@media screen and (min-width: 768px) {
  .page-about .c-intro,
  .page-service .c-intro {
    padding-bottom: 9.5625rem;
  }
  .page-about .c-service .img,
  .page-service .c-service .img {
    margin-bottom: -0.625rem;
  }
}

@media screen and (min-width: 1140px) {
  .page-about .c-intro,
  .page-service .c-intro {
    padding-bottom: 7.75rem;
  }
  .page-about .c-intro.phone,
  .page-service .c-intro.phone {
    background-image: url("../assets/images/ui/bg_phone_intro_d.png");
    background-size: cover;
  }
  .page-about .c-intro.computer,
  .page-service .c-intro.computer {
    background-image: url("../assets/images/ui/bg_computer_intro_d.png");
    background-size: cover;
  }
  .page-about .c-intro.tv,
  .page-service .c-intro.tv {
    background-image: url("../assets/images/ui/bg_tv_intro_d.png");
    background-size: cover;
  }
  .page-about .c-intro.wordpress,
  .page-service .c-intro.wordpress {
    background-image: url("../assets/images/ui/bg_wordpress_intro_d.png");
    background-size: cover;
  }
  .page-about .c-service .img,
  .page-about .c-about .img,
  .page-service .c-service .img,
  .page-service .c-about .img {
    display: inline-block;
    width: auto;
    height: auto;
    margin: 0;
  }
  .page-about .c-service .info,
  .page-about .c-about .info,
  .page-service .c-service .info,
  .page-service .c-about .info {
    float: right;
    max-width: 554px;
    margin: 0;
  }
  .page-about .c-service .heading,
  .page-about .c-about .heading,
  .page-service .c-service .heading,
  .page-service .c-about .heading {
    margin-bottom: 1.9375rem;
    font-size: 2.8125rem;
    line-height: 1.33333em;
  }
  .page-about .c-service .cta-holder,
  .page-about .c-about .cta-holder,
  .page-service .c-service .cta-holder,
  .page-service .c-about .cta-holder {
    float: left;
  }
  .page-about .c-service .img,
  .page-service .c-service .img {
    display: none;
    visibility: hidden;
  }
  .page-about .c-about .img,
  .page-service .c-about .img {
    top: 0.6875rem;
  }
}

.page-about .c-about,
.page-service .c-about {
  padding-bottom: 5.4375rem;
}


/* ==========================================================================
  #Blog page
  ========================================================================== */

.page-blog .c-intro {
  min-height: 500px;
  padding: 12.125rem 0 10.6875rem;
  background: transparent url("../assets/images/ui/bg_blog_intro_m.png") center 100% no-repeat;
  background-size: cover;
}

@media screen and (min-width: 540px) {
  .page-blog .c-intro {
    background-image: url("../assets/images/ui/bg_blog_intro_t.png");
    background-size: cover;
  }
}

@media screen and (min-width: 768px) {
  .page-blog .c-intro {
    min-height: 31.25rem;
    padding: 12.125rem 0 8.25rem;
  }
}

@media screen and (min-width: 1140px) {
  .c-blogs {
    padding-bottom: 20px;
  }
}

.page-blog .c-blogs {
  margin: -2.5rem 0 0;
}

.page-blog .c-blogs .o-holder {
  margin-bottom: 3.9375rem;
}

.page-blog .pagination {
  display: table;
  margin: 66px auto 0;
  text-align: center;
}

.page-blog .pagination a,
.page-blog .pagination span {
  display: inline-block;
  border-radius: 50%;
  margin: 0 5px;
}

.page-blog .pagination .current {
  border-color: #2893ce;
  background: #fff;
  color: #2893ce;
}

.page-blog .pagination .prev,
.page-blog .pagination .next {
  position: relative;
  top: 5px;
  width: 31px;
  height: 31px;
  margin: 0 15px;
  font-size: 0;
  line-height: 0;
  background: #f0f0f0;
}

.page-blog .pagination .prev:after,
.page-blog .pagination .next:after {
  left: 10px;
  font-family: 'Fontello';
  font-size: 1.25rem;
  line-height: 1.46667em;
  background: none;
  color: #ccc;
}

.page-blog .pagination .prev:hover,
.page-blog .pagination .next:hover {
  background: transparent;
  border-color: #e1e9ec;
}

.page-blog .pagination .prev:after {
  content: '\e804';
}

.page-blog .pagination .next:after {
  left: 12px;
  content: '\e805';
}

.page-blog .pagination a,
.page-blog .pagination span {
  float: left;
  width: 39px;
  height: 39px;
  border-radius: 50%;
  border: 2px solid transparent;
  font-family: "MontserratRegular", "Helvetica", "Arial", sans-serif;
  font-size: 0.9375rem;
  line-height: 2.6em;
  text-align: center;
  text-decoration: none;
  background: #f0f0f0;
  color: #8D9196;
  text-decoration: none;
  transition: all 400ms ease;
}

.page-blog .pagination a:hover,
.page-blog .pagination span:hover {
  border-color: #2893ce;
  background: transparent;
}

.page-blog .pagination .dots {
  display: none;
}

@media screen and (min-width: 768px) {
  .page-blog .pagination .prev,
  .page-blog .pagination .next {
    top: 0.875rem;
    margin: 0 26px;
    background: #f0f0f0;
  }
  .page-blog .pagination a,
  .page-blog .pagination span {
    width: 59px;
    height: 59px;
    font-size: 1.25rem;
    line-height: 3em;
  }
  .page-blog .pagination .dots {
    display: inline;
    position: relative;
    top: 37px;
    width: auto;
    margin: 0 6px;
    background: none;
    border: none;
    
    &:hover {
      background: none;
    }
  }
  .page-blog .pagination .dot {
    display: inline-block;
    width: 6px;
    height: 6px;
    margin: 0 3px;
    border-radius: 50%;
    background: #f0f0f0;
  }
}

@media screen and (min-width: 1140px) {
  .page-blog .c-intro {
    background-image: url("../assets/images/ui/bg_blog_intro_d.png");
    background-size: cover;
  }
}

/* ==========================================================================
  .Contact page
  ========================================================================== */

.page-contact .c-intro {
  min-height: 500px;
  padding: 12.125rem 0 10.6875rem;
}

@media screen and (min-width: 768px) {
  .page-contact .c-intro {
    min-height: 31.25rem;
    padding: 12.125rem 0 8.25rem;
  }
}

.page-contact .c-about {
  float: left;
  width: 100%;
  padding: 0.0625rem 0 1rem;
}

.page-contact .c-about .vcard {
  position: relative;
  display: table;
  margin: 0 auto;
  width: 100%;
  margin-bottom: 4rem;
  padding: 7.4375rem 0 0;
  text-align: center;
}

.page-contact .c-about .vcard .icon {
  top: 0.75rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 75px;
  height: 75px;
  border: 1px solid #2893ce;
  border-radius: 50%;
  background: #f6fbfe url("../assets/images/ui/ui_icon_phone.png") center center no-repeat;
}

.page-contact .c-about .vcard .text {
  display: table;
  margin: 0 auto 0.4375rem;
  font-size: 1.5rem;
  line-height: 1.375em;
  color: #8D9196;
}

.page-contact .c-about .vcard .tel {
  display: block;
  font-size: 2.8125rem;
  line-height: 1.33333em;
  text-decoration: none;
  color: #2893ce;
  -webkit-box-reflect: below -29px -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(238, 238, 238, 0.4)));
}

.page-contact .c-about .info {
  display: table;
  margin: 0 auto;
  width: 100%;
}

.page-contact .c-about .info .heading {
  margin-bottom: 1.1875rem;
  font-size: 2.25rem;
  line-height: 1.33333em;
  color: #4c4e50;
}

.page-contact .c-about .info .desc {
  margin-bottom: 1.75rem;
  color: #8D9196;
}

.page-contact .c-about .c-contact-form {
  float: left;
  width: 100%;
}

.page-contact .c-about .c-contact-form input[type="text"],
.page-contact .c-about .c-contact-form input[type="email"] {
  margin-bottom: 0.75rem !important;
  padding: 0.5625rem 28px !important;
  border: 1px solid #e1e9ec;
  background: #f8fafb;
}

.page-contact .c-about .c-contact-form textarea {
  height: 93px !important;
  margin-bottom: 24px !important;
  padding-top: 0.5625rem !important;
  border-radius: 58px;
  border: 1px solid #e1e9ec;
  background: #f8fafb;
}

.page-contact .c-about .c-contact-form input[type="submit"] {
  padding: 0.875rem 44px 0.8125rem !important;
  font-size: 1rem !important;
  line-height: 1.5em;
}

.page-contact.gravity-form-submitted .c-about .info .desc {
  display: none;
}

.gravity-form-submitted .c-get-in-touch .desc {
  //display: none;
}

@media screen and (min-width: 768px) {
  .page-contact .c-about .info .heading {
    font-size: 2.8125rem;
  }
}

@media screen and (min-width: 1140px) {
  .page-contact .c-about {
    padding: 2.5rem 0 0;
  }
  .page-contact .c-about .vcard {
    float: left;
    width: 493px;
  }
  .page-contact .c-about .info {
    float: right;
    max-width: 553px;
    margin: 0;
  }
  .page-contact .c-about .info .heading {
    margin-bottom: 2.125rem;
    font-size: 2.8125rem;
  }
  .page-contact .c-about .info .c-contact-form {
    width: 458px;
  }
}

.page-contact .c-footer {
  margin-top: 8.5rem;
  box-shadow: 0 -1px 15px rgba(10, 10, 10, 0.15);
}

/* ==========================================================================
  #Default page
  ========================================================================== */
.page-default {
  color: #8D9196;
  /* Intro - Mobile */
  /* Intro - Tablet */
  /* Intro - Desktop */
  /* Entry content - Mobile */
  /* Intro - Tablet */
  /* Intro - Desktop */
  /* Footer */
}

.page-default .entry-content address,
.page-default .entry-content h1, .page-default .entry-content h2, .page-default .entry-content h3, .page-default .entry-content h4, .page-default .entry-content h5, .page-default .entry-content h6,
.page-default .entry-content blockquote, .page-default .entry-content p, .page-default .entry-content pre,
.page-default .entry-content dl, .page-default .entry-content ol, .page-default .entry-content ul,
.page-default .entry-content figure,
.page-default .entry-content hr,
.page-default .entry-content table,
.page-default .entry-content fieldset {
  margin-bottom: 1.3rem;
}

.page-default .entry-content h2 {
  margin-bottom: 2.0625rem;
  font-family: "MontserratThin", "Helvetica", "Arial", sans-serif;
  font-size: 2.8125rem;
  line-height: 1.33333em;
}

.page-default .entry-content h3 {
  margin-bottom: 1.3125rem;
  padding-top: 1.0625rem;
  font-size: 1.3125rem;
  line-height: 1.42857em;
}

.page-default .entry-content h4 {
  margin: 1.875rem 0 0.8125rem;
  font-size: 1.125rem;
  line-height: 1.66667em;
  color: #8D9196;
}

.page-default .entry-content h5 {
  margin: 1.875rem 0;
}

.page-default .entry-content p, .page-default .entry-content ul, .page-default .entry-content ol, .page-default .entry-content pre, .page-default .entry-content table, .page-default .entry-content blockquote {
  margin-bottom: 1.875rem;
}

.page-default .entry-content p {
  margin-bottom: 1.875rem;
}

.page-default .entry-content ul ul,
.page-default .entry-content ol ol,
.page-default .entry-content ul ol,
.page-default .entry-content ol ul {
  margin-bottom: 0;
}

.page-default .entry-content p + ul,
.page-default .entry-content p + ol {
  margin-top: -0.8125rem;
}

.page-default .c-intro {
  min-height: 500px;
  padding: 12.125rem 0 6.9375rem;
}

.page-default .c-content {
  float: left;
  width: 100%;
  overflow-x: hidden;
}

.page-default .c-content .entry-content {
  padding: 0.5625rem 0 6.3125rem;
}

@media screen and (min-width: 768px) {
  .page-default .c-intro {
    padding-bottom: 12.5rem;
  }
}

@media screen and (min-width: 1140px) {
  .page-default .c-intro {
    padding-bottom: 9.5625rem;
  }
}

.page-default .c-footer {
  box-shadow: 0 -1px 15px rgba(10, 10, 10, 0.15);
}

/* ==========================================================================
  #Home page
  ========================================================================== */
.page-home {
  /* Services - Mobile */
  /* Services - Mobile-Landscape */
  /* Services - Tablet */
  /* Services - Desktop */
  /* About - Mobile */
  /* About - Mobile-Landscape */
  /* About - Tablet */
  /* About - Desktop */
  /* Why - Mobile */
  /* Why us - Tablet */
  /* Why us - Desktop */
  /* Testimonials - mobile */
  /* Testimonials - Tablet */
  /* Testimonials - Desktop */
}

.page-home .c-services {
  float: left;
  width: 100%;
  padding: 4rem 0 4.75rem;
  background: #eef3f5;
}

.page-home .c-services .heading {
  float: left;
  width: auto;
  font-family: "MontserratThin", "Helvetica", "Arial", sans-serif;
  font-size: 2.1875rem;
  line-height: 1.11429em;
}

.page-home .c-services .desc {
  float: right;
  max-width: 652px;
  margin: 1.625rem 0 0;
}

.page-home .c-services .o-holder {
  margin-top: 3.625rem;
}

.page-home .c-services .c-service {
  position: relative;
  margin-bottom: 1rem;
  padding: 2.1875rem 25px 2.0625rem 25px;
  border-radius: 10px;
  background: #fff;
}

.page-home .c-services .c-service__heading {
  margin: 0.5625rem 0 -0.25rem;
  font-family: "MontserratLight", "Helvetica", "Arial", sans-serif;
  font-size: 1.75rem;
  line-height: 2.14286em;
}

.page-home .c-services .c-service__heading a {
  text-decoration: none;
  color: #4c4e50;
  text-decoration: none;
  transition: all 200ms ease;
}

.page-home .c-services .c-service__heading a:hover {
  color: #215c7c;
}

.page-home .c-services .c-service__text {
  margin-left: 3px;
  font-size: 1.0625rem;
  line-height: 1.64706em;
  color: #ccc;
}

.page-home .c-services .c-service__text a {
  text-decoration: none;
}

@media screen and (min-width: 540px) {
  .page-home .c-services {
    padding: 4.5rem 0 4.75rem;
  }
  .page-home .c-services .desc {
    float: left;
    margin: 1.625rem 0 0.125rem;
  }
  .page-home .c-services .c-service {
    margin-bottom: 0.875rem;
    padding: 2.1875rem 25px 2rem 25px;
  }
}

@media screen and (min-width: 768px) {
  .page-home .c-services {
    padding: 4.75rem 0 4.75rem;
  }
  .page-home .c-services .heading {
    font-size: 2.9375rem;
    line-height: 1.11429em;
  }
  .page-home .c-services .desc {
    float: left;
    clear: left;
  }
}

@media screen and (min-width: 1140px) {
  .page-home .c-services {
    padding: 6.4375rem 0 5.3125rem;
  }
  .page-home .c-services .heading {
    font-size: 2.875rem;
    line-height: 1.30435em;
  }
  .page-home .c-services .desc {
    float: right;
    clear: none;
    margin: 1.625rem 0 0;
  }
  .page-home .c-services .c-service {
    margin-bottom: 2rem;
    padding: 1.1875rem 26px 1.9375rem 30px;
  }
  .page-home .c-services .c-service .img {
    float: left;
    margin-top: 0.5rem;
  }
  .page-home .c-services .c-service .info {
    float: right;
    width: 407px;
  }
  .page-home .c-services .c-service__heading {
    margin: 0 0 0.4375rem;
  }
  .page-home .c-services .c-service__text {
    font-size: 1.125rem;
    line-height: 1.66667em;
  }
}

.page-home .c-about {
  float: left;
  width: 100%;
  padding: 4.25rem 0 6.0625rem;
}

.page-home .c-about .headshot {
  display: table;
  margin: 0.9375rem auto 1.5625rem;
  border-radius: 8px;
}

.page-home .c-about .headshot img {
  border-radius: 8px;
}

.page-home .c-about .info {
  float: right;
  max-width: 650px;
}

.page-home .c-about .heading {
  display: table;
  margin: 0 auto;
  margin-bottom: 1.125rem;
  font-family: "MontserratThin", "Helvetica", "Arial", sans-serif;
  font-size: 2.4375rem;
  line-height: 1.33333em;
}

.page-home .c-about .desc {
  float: left;
}

.page-home .c-about p {
  margin-bottom: 1.5rem;
}

.page-home .c-about .link {
  position: relative;
  float: left;
  margin-top: -1.1875rem;
}

.page-home .c-about .link .icon-arrow-right:before {
  position: relative;
  top: 0.3125rem;
  left: -11px;
  font-size: 1.75rem;
}

@media screen and (min-width: 540px) {
  .page-home .c-about {
    padding: 4.25rem 0 6rem;
  }
  .page-home .c-about .headshot {
    margin: 0.9375rem auto 2.1875rem;
  }
}

@media screen and (min-width: 768px) {
  .page-home .c-about .headshot {
    margin: 0.9375rem auto 2.8125rem;
  }
  .page-home .c-about .info {
    float: none;
    display: table;
    /**/
    margin: 0 auto 1.375rem;
    /**/
  }
}

@media screen and (min-width: 1140px) {
  .page-home .c-about {
    padding: 4.6875rem 0 5.6875rem;
  }
  .page-home .c-about .headshot {
    float: left;
  }
  .page-home .c-about .info {
    float: right;
    margin: 0;
  }
  .page-home .c-about .heading {
    margin: 0 0 2rem;
    font-size: 2.875rem;
  }
  .page-home .c-about .desc {
    margin-bottom: -0.9375rem;
  }
  .page-home .c-about p {
    margin-bottom: 1.9375rem;
  }
}

.page-home .c-why-us {
  float: left;
  width: 100%;
  background: #fff url(../assets/images/ui/bg_home_why-us.png) center center no-repeat;
  background-size: cover;
}

.page-home .c-why-us .o-holder {
  padding: 16.375rem 0 4.4375rem;
}

.page-home .c-why-us .info {
  display: table;
  margin: 0 auto;
  max-width: 553px;
}

.page-home .c-why-us .heading {
  margin-bottom: 1.875rem;
  font-family: "MontserratThin", "Helvetica", "Arial", sans-serif;
  font-size: 2.25rem;
  line-height: 1.38889em;
}

.page-home .c-why-us .desc {
  margin-bottom: 2.9375rem;
}

.page-home .c-why-us .items {
  float: left;
}

.page-home .c-why-us .items li {
  position: relative;
  float: left;
  width: 100%;
  margin-bottom: 2.4375rem;
  padding: 5.5rem 0 0 0;
}

.page-home .c-why-us .items li.map .icon {
  background: #d9609f url("../assets/images/ui/ui_icon_map.png") center center no-repeat;
}

.page-home .c-why-us .items li.bulb .icon {
  background: #d9609f url("../assets/images/ui/ui_icon_bulb.png") center center no-repeat;
}

.page-home .c-why-us .items li.smiley .icon {
  background: #d9609f url("../assets/images/ui/ui_icon_smiley.png") center center no-repeat;
}

.page-home .c-why-us .items .icon {
  top: 0;
  left: 1px;
  width: 68px;
  height: 68px;
  border-radius: 50%;
  background: #d9609f;
}

.page-home .c-why-us .items .subheading {
  margin-bottom: 0.375rem;
  font-family: "MontserratRegular", "Helvetica", "Arial", sans-serif;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .page-home .c-why-us {
    padding-bottom: 1.5625rem;
  }
  .page-home .c-why-us .o-holder {
    padding: 19.3125rem 0 4.4375rem;
    background-size: 294px auto;
  }
  .page-home .c-why-us .heading {
    font-size: 2.5rem;
  }
  .page-home .c-why-us .desc {
    margin-bottom: 2.5rem;
  }
  .page-home .c-why-us .items li {
    margin-bottom: 2.4375rem;
    padding: 5.5rem 0 0 0;
  }
  .page-home .c-why-us .items .icon {
    top: 0;
  }
}

@media screen and (min-width: 1140px) {
  .page-home .c-why-us .o-holder {
    padding: 4.9375rem 0 3.3125rem;
  }
  .page-home .c-why-us .info {
    float: right;
  }
  .page-home .c-why-us .heading {
    font-size: 2.875rem;
    line-height: 1.33333em;
  }
  .page-home .c-why-us .desc {
    margin-bottom: 1.9375rem;
  }
  .page-home .c-why-us .items li {
    margin-bottom: 1.8125rem;
    padding: 0 0 0 97px;
  }
  .page-home .c-why-us .items .icon {
    top: -0.3125rem;
  }
}

.page-home .c-testimonials {
  float: left;
  width: 100%;
  background: #eef3f5;
}

.page-home .c-testimonials .heading-holder {
  float: left;
  width: 100%;
  padding: 11.625rem 0 9.0625rem;
}

.page-home .c-testimonials .heading {
  display: table;
  margin: 0 auto;
  font-family: "MontserratThin", "Helvetica", "Arial", sans-serif;
  font-size: 2.8125rem;
  line-height: 1.33333em;
  color: #fff;
}

.page-home .c-testimonials .first-part {
  background: transparent url("../assets/images/ui/ui_border_long.png") 0 100% no-repeat;
}

.page-home .c-testimonials .second-part {
  background: transparent url("../assets/images/ui/ui_border_short.png") 0 100% no-repeat;
}

.page-home .c-testimonials .shortcode-bubble {
  position: relative;
  top: -2.375rem;
  display: inline-block;
  width: 58px;
  height: 54px;
  margin: 0 5px 0 9px;
  font-size: 0;
  line-height: 0;
  background: transparent url("../assets/images/ui/ui_common_bubble.png") 0 0 no-repeat;
}

.page-home .c-testimonials .slider-holder {
  float: left;
  width: 100%;
  margin-top: -6.1875rem;
  padding-top: 1.1875rem;
  border-radius: 12px;
  background: white;
  background: url("../assets/images/ui/ui_mask_corner.png") center 0 no-repeat, linear-gradient(to right, -white 0%, -white 38.49, transparent 38.49, transparent 61.4, -white 61.4, -white 70%, -white 100%);
  overflow: hidden;
}

.page-home .c-testimonials .slider {
  position: relative;
  float: left;
  width: 100%;
  padding: 1.9375rem 0 4.375rem;
  background: #fff;
}

.page-home .c-testimonials .slide {
  float: left;
  width: 100%;
  padding: 0 30px;
}

.page-home .c-testimonials .testimonial {
  display: table;
  margin: 0 auto 1.75rem;
  max-width: 640px;
  font-family: "MerriweatherLightIt", "Georgia", "Times", "Times New Roman", serif;
  font-size: 1.3125rem;
  line-height: 1.57143em;
  text-align: center;
  color: #4c4e50;
}

.page-home .c-testimonials .reply {
  display: table;
  margin: 0 auto 1.375rem;
  max-width: 560px;
  font-family: "MontserratThin", "Helvetica", "Arial", sans-serif;
  text-align: center;
  color: #8D9196;
}

.page-home .c-testimonials .author {
  display: table;
  margin: 0 auto;
  font-family: "MontserratRegular", "Helvetica", "Arial", sans-serif;
  font-size: 1.125rem;
  line-height: 1.83333em;
  text-align: center;
  color: #4c4e50;
}

.page-home .c-testimonials .author .img {
  display: inherit;
  margin-top: 0.625rem;
  border-radius: 50%;
  width: 111px;
  height: 110px;
}

.page-home .c-testimonials .author img {
  float: left;
  border-radius: 50%;
}

.page-home .c-testimonials .author .text {
  display: inline-block;
}

.page-home .c-testimonials .c-cta {
  display: table;
  width: 100%;
  margin: 0 auto 2.1875rem;
  padding: 4.75rem 0 5.3125rem;
}

.page-home .c-testimonials .c-cta .o-container {
  max-width: 945px;
}

.page-home .c-testimonials .c-cta .info {
  position: relative;
  display: table;
  margin: 0 auto 3rem;
  max-width: 650px;
  text-align: center;
}

.page-home .c-testimonials .c-cta .heading {
  display: inline-block;
  margin-bottom: 1.25rem;
  font-size: 2.375rem;
  line-height: 1.36842em;
  color: #4c4e50;
}

.page-home .c-testimonials .c-cta .desc {
  float: left;
  clear: left;
  font-family: "MontserratThin", "Helvetica", "Arial", sans-serif;
  color: #8D9196;
}

.page-home .c-testimonials .c-cta .contact {
  float: left;
  width: 100%;
  padding: 0.5rem 2px 0 0;
}

.page-home .c-testimonials .c-cta .c-btn {
  display: table;
  margin: 0 auto 1.1875rem;
}

.page-home .c-testimonials .c-cta .message {
  display: table;
  margin: 1.875rem auto 0;
  font-family: "MontserratRegular", "Helvetica", "Arial", sans-serif;
  letter-spacing: 0.5px;
  text-align: center;
  color: #4c4e50;
}

.page-home .c-testimonials .c-cta .message a {
  text-decoration: none;
  color: #4c4e50;
}

@media screen and (min-width: 768px) {
  .page-home .c-testimonials {
    /* Cta */
  }
  .page-home .c-testimonials .c-cta .heading {
    font-size: 2.6875rem;
    line-height: 1.36842em;
  }
  .page-home .c-testimonials .c-cta .info {
    margin: 0.8125rem auto 3rem;
  }
}

@media screen and (min-width: 1140px) {
  .page-home .c-testimonials {
    /* Cta */
  }
  .page-home .c-testimonials .slider {
    padding: 1.8125rem 0 1.8125rem;
  }
  .page-home .c-testimonials .slide {
    padding: 0;
  }
  .page-home .c-testimonials .author {
    -webkit-transform: translateX(41px);
            transform: translateX(41px);
  }
  .page-home .c-testimonials .author .img {
    float: left;
    margin: 0 13px 0 0;
  }
  .page-home .c-testimonials .author .name {
    position: relative;
    top: 2.4375rem;
  }
  .page-home .c-testimonials .c-cta {
    float: left;
    padding-bottom: 3rem;
  }
  .page-home .c-testimonials .c-cta .info {
    position: relative;
    float: left;
    margin: 0;
    text-align: left;
  }
  .page-home .c-testimonials .c-cta .info:after {
    top: 1.5rem;
    right: -56px;
    width: 42px;
    height: 14px;
    background: transparent url("../assets/images/ui/ui_arrow_right.png") 0 0 no-repeat;
  }
  .page-home .c-testimonials .c-cta .heading {
    float: left;
    margin-bottom: 2rem;
    font-size: 2.8125rem;
    line-height: 1.33333em;
  }
  .page-home .c-testimonials .c-cta .contact {
    float: right;
    width: 200px;
  }
  .page-home .c-testimonials .c-cta .c-btn {
    float: right;
    margin: 0 0 2.125rem;
  }
  .page-home .c-testimonials .c-cta .message {
    float: right;
    clear: right;
    margin: 0;
  }
}

.c-social-btns {
  float: right;
}

.c-social-btns a {
  position: relative;
  float: left;
  width: 43px;
  height: 43px;
  padding: 0.4375rem 0 !important;
  border-radius: 50%;
  border: 1px solid #e0e7ea;
  font-size: 1.125rem;
  line-height: 1.72222em;
  background: #eef3f5;
  text-align: center;
  color: #2893ce;
  text-decoration: none;
  transition: all 200ms ease;
}

.c-social-btns a:hover {
  background: #fff;
}

.c-social-btns .icon-gplus:before {
  top: 0.0625rem;
  left: 1px;
  font-size: 1.1875rem;
}

.c-social-btns .icon-ln:before {
  top: -0.0625rem;
  left: 1px;
  font-size: 1.25rem;
}

.c-social-btns .icon-tw:before {
  top: 0.125rem;
  font-size: 1.3125rem;
}

.c-social-btns .icon-pin:before {
  top: 0.0625rem;
  font-size: 1.1875rem;
}

.c-social-btns .icon-insta:before {
  font-size: 1.125rem;
}

/* ==========================================================================
  #STYLEGUIDE
  ========================================================================== */
.c-style-guide__intro {
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  border-right-width: 2px;
  margin: 2em 0 1em 0;
  padding: 2em;
}

.c-style-guide__title {
  color: #666;
  font-size: 1.25rem;
  font-weight: normal;
  margin: 0 0 0.25em 0;
  text-transform: uppercase;
}

.c-style-guide__desc {
  color: #666;
  margin: 0;
}

.c-style-guide__section {
  padding: 1rem 0;
}

.c-style-guide__section:after {
  content: '' !important;
  display: block !important;
  clear: both !important;
}

.c-style-guide__section-title {
  border-bottom: 1px solid #ccc;
  clear: both;
  color: #666;
  font-size: 1.25rem;
  font-weight: normal;
  padding-bottom: 0.5em;
  text-transform: uppercase;
  width: 50%;
}

.c-style-guide__section-subtitle {
  border-left: 6px solid #ccc;
  clear: both;
  color: #999;
  font-size: 1.125rem;
  font-weight: normal;
  margin: 2em 0;
  padding-left: 1em;
  text-transform: uppercase;
}

/* ==========================================================================
  #CLEARFIX
  ========================================================================== */
/**
* Attach our clearfix mixin to a utility class.
*/
.u-clearfix:after {
  content: '' !important;
  display: block !important;
  clear: both !important;
}

/* ==========================================================================
  #HIDE
  ========================================================================== */
/**
* Hide only visually, but have it available for screen readers:
* http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*/
.u-hidden-visually {
  border: 0 !important;
  clip: rect(0 0 0 0) !important;
  -webkit-clip-path: inset(50%) !important;
          clip-path: inset(50%) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  white-space: nowrap !important;
  width: 1px !important;
}

/**
* Hide visually and from screen readers.
*/
.u-hidden {
  display: none !important;
}

.u-hidden\@small {
  display: none;
}

@media (min-width: 768px) {
  .u-hidden\@small {
    display: block;
  }
}

/* Text meant only for screen readers. */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  white-space: nowrap;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
  /* Above WP toolbar. */
}

/* ==========================================================================
  #ALIGN
  ========================================================================== */
.u-float-left {
  float: left;
}

.u-float-right {
  float: right;
}

.u-clear {
  clear: both;
}

.u-text-center {
  text-align: center;
}

.u-text-left {
  text-align: left;
}

.u-text-right {
  text-align: right;
}

/* ==========================================================================
  #COLOR
  ========================================================================== */
.u-fill {
  background: #ccc;
}

/* ==========================================================================
  #IMAGES
  ========================================================================== */
/* Image Replacement */
.u-image-replace {
  display: block;
  position: relative;
  overflow: hidden;
}

.u-image-replace span {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

/* v1.0.6 */
/* Core RS CSS file. 95% of time you shouldn't change anything here. */
.royalSlider {
  width: 600px;
  height: 400px;
  position: relative;
  direction: ltr;
}

.royalSlider > * {
  float: left;
}

.rsWebkit3d .rsSlide,
.rsWebkit3d .rsContainer,
.rsWebkit3d .rsThumbs,
.rsWebkit3d .rsPreloader,
.rsWebkit3d img,
.rsWebkit3d .rsOverflow,
.rsWebkit3d .rsBtnCenterer,
.rsWebkit3d .rsAbsoluteEl,
.rsWebkit3d .rsABlock,
.rsWebkit3d .rsLink {
  -webkit-backface-visibility: hidden;
}

.rsFade.rsWebkit3d .rsSlide,
.rsFade.rsWebkit3d img,
.rsFade.rsWebkit3d .rsContainer {
  -webkit-transform: none;
}

.rsOverflow {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  float: left;
  -webkit-tap-highlight-color: transparent;
}

.rsVisibleNearbyWrap {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  left: 0;
  top: 0;
  -webkit-tap-highlight-color: transparent;
}

.rsVisibleNearbyWrap .rsOverflow {
  position: absolute;
  left: 0;
  top: 0;
}

.rsContainer {
  position: relative;
  width: 100%;
  height: 100%;
  -webkit-tap-highlight-color: transparent;
}

.rsArrow,
.rsThumbsArrow {
  cursor: pointer;
}

.rsThumb {
  float: left;
  position: relative;
}

.rsArrow,
.rsNav,
.rsThumbsArrow {
  opacity: 1;
  transition: opacity 0.3s linear;
}

.rsHidden {
  /*opacity: 0;
  visibility: hidden;
  transition:visibility 0s linear 0.3s,opacity 0.3s linear;*/
}

.rsGCaption {
  width: 100%;
  float: left;
  text-align: center;
}

/* Fullscreen options, very important ^^ */
.royalSlider.rsFullscreen {
  position: fixed !important;
  height: auto !important;
  width: auto !important;
  margin: 0 !important;
  padding: 0 !important;
  z-index: 2147483647 !important;
  top: 0 !important;
  left: 0 !important;
  bottom: 0 !important;
  right: 0 !important;
}

.royalSlider .rsSlide.rsFakePreloader {
  opacity: 1 !important;
  transition: 0s;
  display: none;
}

.rsSlide {
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

.royalSlider.rsAutoHeight,
.rsAutoHeight .rsSlide {
  height: auto;
}

.rsContent {
  width: 100%;
  height: 100%;
  position: relative;
}

.rsPreloader {
  position: absolute;
  z-index: 0;
}

.rsNav {
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
  -ms-user-select: none;
      user-select: none;
}

.rsNavItem {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.25);
}

.rsThumbs {
  cursor: pointer;
  position: relative;
  overflow: hidden;
  float: left;
  z-index: 22;
}

.rsTabs {
  float: left;
  background: none !important;
}

.rsTabs,
.rsThumbs {
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: transparent;
}

.rsVideoContainer {
  width: auto;
  height: auto;
  line-height: 0;
  position: relative;
}

.rsVideoFrameHolder {
  position: absolute;
  left: 0;
  top: 0;
  background: #141414;
  opacity: 0;
  -webkit-transition: .3s;
}

.rsVideoFrameHolder.rsVideoActive {
  opacity: 1;
}

.rsVideoContainer iframe,
.rsVideoContainer video,
.rsVideoContainer embed,
.rsVideoContainer .rsVideoObj {
  position: absolute;
  z-index: 50;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

/* ios controls over video bug, shifting video */
.rsVideoContainer.rsIOSVideo iframe,
.rsVideoContainer.rsIOSVideo video,
.rsVideoContainer.rsIOSVideo embed {
  box-sizing: border-box;
  padding-right: 44px;
}

.rsABlock {
  left: 0;
  top: 0;
  position: absolute;
  z-index: 15;
}

img.rsImg {
  max-width: none;
}

.grab-cursor {
  cursor: url(../assets/images/ui/grab.png) 8 8, move;
}

.grabbing-cursor {
  cursor: url(../assets/images/ui/grabbing.png) 8 8, move;
}

.rsNoDrag {
  cursor: auto;
}

.rsLink {
  left: 0;
  top: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  display: block;
  z-index: 20;
  background: url(../assets/images/ui/blank.gif);
}

/******************************
*
*  RoyalSlider Default Skin 
*
*    1. Arrows 
*    2. Bullets
*    3. Preloader
* 
******************************/
/* Background */
.rsDefault,
.rsDefault .rsOverflow,
.rsDefault .rsSlide,
.rsDefault .rsVideoFrameHolder,
.rsDefault .rsThumbs {
  background: #fff;
  color: #FFF;
}

/***************
*
*  1. Arrows
*
****************/
.rsDefault .rsArrow {
  display: none;
  visibility: hidden;
  height: 100%;
  width: 44px;
  position: absolute;
  display: block;
  cursor: pointer;
  z-index: 21;
}

@media screen and (min-width: 1140px) {
  .rsDefault .rsArrow {
    display: block;
    visibility: visible;
  }
}

.rsDefault.rsVer .rsArrow {
  width: 100%;
  height: 44px;
}

.rsDefault.rsHor .rsArrowLeft {
  left: 58px;
  top: -2.8125rem;
}

.rsDefault.rsHor .rsArrowRight {
  top: -2.8125rem;
  right: 58px;
}

.rsDefault .rsArrowIcn {
  position: relative;
  width: 29px;
  height: 55px;
  top: 50%;
  left: 50%;
  margin-top: -16px;
  margin-left: -16px;
  position: absolute;
  cursor: pointer;
  border-radius: 2px;
  text-decoration: none;
  transition: all 200ms ease;
}

.rsDefault .rsArrowIcn:hover {
  opacity: 0.5;
}

.rsDefault .rsArrowLeft .rsArrowIcn {
  background: transparent url("../assets/images/ui/ui_slider_arrow_left.png") 0 0 no-repeat;
}

.rsDefault .rsArrowRight .rsArrowIcn {
  background: transparent url("../assets/images/ui/ui_slider_arrow_right.png") 0 0 no-repeat;
}

.rsDefault .rsArrowDisabled .rsArrowIcn {
  opacity: 0.2;
}

/***************
*
*  2. Bullets
*
****************/
.rsDefault .rsBullets {
  display: block;
  position: absolute;
  z-index: 35;
  left: 0;
  bottom: 20px;
  width: 100%;
  height: 18px;
  margin: 0 auto;
  background: transparent;
  text-align: center;
  line-height: 8px;
  overflow: hidden;
}

@media screen and (min-width: 1140px) {
  .rsDefault .rsBullets {
    display: none;
  }
}

.rsDefault .rsBullet {
  width: 8px;
  height: 8px;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  padding: 6px;
}

.rsDefault .rsBullet span {
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #eef3f5;
}

.rsDefault .rsBullet.rsNavSelected span {
  background-color: #2893ce;
}

/***************
*
*  3. Preloader
*
****************/
.rsDefault .rsPreloader {
  width: 20px;
  height: 20px;
  background-image: url("../assets/images/ui/preloader-white.gif");
  left: 50%;
  top: 50%;
  margin-left: -10px;
  margin-top: -10px;
}

/* ==========================================================================
  #PRINT
  ========================================================================== */
@media print {
  body {
    font: normal normal 12pt/1.5em "Times New Roman", Times, serif;
  }
  a[href]:after {
    content: " (" attr(href) ") ";
    font-size: 90%;
  }
  a[href^="/"]:after {
    content: " (http://domain.com" attr(href) ") ";
  }
  .hide {
    display: none !important;
  }
}

/*# sourceMappingURL=main.css.map */
